
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/Visa.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/mc_vrt_pos.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/ms_vrt_pos.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/Сбербанк_онлайн.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/yamoney_icons_ru.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/webmoney_blue.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/logo_qiwi_rgb.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/MTS.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/beeline.jpg')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/megafon_hor.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/og.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/Euroset.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/svyaznoy.jpg')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/PSB_hor_inv.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/alfabank_hrz_pos.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/Мир.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/Comepay.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/KVK_hor.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/logo-raschet.png')">
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 payment_type" style="background-image:url('/Plugins/Payments.YandexKassa/Content/Images/Description/qppi.png')">
        </div>
    </div>
</div>
